body{
    background-color: rgb(167, 179, 244);
}
.snowman{
    width: 10px;
    height: 10px;
    background-color: black;
    margin: auto;
    margin-top: 100px;
    border-radius: 50%;
    box-shadow: 30px 0, 15px 15px orange, 1px 45px 0 -2px, 7px 50px 0 -2px, 15px 51px 0 -2px, 23px 50px 0 -2px,
    29px 45px 0 -2px, 15px 110px 0 2px, 15px 140px 0 2px, 15px 170px 0 2px, 15px 30px 0 50px white, 15px 30px 50px 50px black, 15px 160px 0 80px white, 15px 160px 50px 80px, 0 700px 0 500px orangered  ;


    
    
}